<a href="https://colab.research.google.com/github/manaygun/HealthJour/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
veteran = pd.read_csv("/content/drive/MyDrive/mis208dataset/train.csv")

FileNotFoundError: ignored

In [ ]:
veteran.head()

,69769,-946,0.1613,0.7959999999999999,Panl,N,Bus2,0.0742,0,2,...,1.0.1,-4670,0.9851.2,0.0.13,0.26,Mard,0.0.14,0.3333.2,0.27,0.28
0,236977,-92,NaN,NaN,NaN,Y,Othr,NaN,0,3,...,NaN,-1994,NaN,NaN,0,Mard,0.0,NaN,0,0
1,168821,-1646,0.1124,0.8504,Panl,N,Bus3,0.0387,0,2,...,2.0,-2842,0.9891,0.0,0,Sind,0.0,0.3750,0,1
2,94708,-1651,0.0263,NaN,Blok,N,Bus3,NaN,0,2,...,4.0,-1345,0.9682,0.0,0,Sind,0.0,0.0417,0,1
3,84556,-977,NaN,NaN,NaN,N,Rest,NaN,0,2,...,NaN,-852,NaN,NaN,0,Sind,0.0,NaN,0,0
4,114510,365243,0.1067,0.8096,Panl,N,XNAA,0.0525,0,2,...,2.0,-4138,0.9861,0.0,0,Mard,0.0,0.4583,0,0

In [ ]:
git remote add origin https://{manaygun}:{Qwerqazz123}@github.com/{manaygun}/veteranlar.git

SyntaxError: ignored

,69769,-946,0.1613,0.7959999999999999,Panl,N,Bus2,0.0742,0,2,...,1.0.1,-4670,0.9851.2,0.0.13,0.26,Mard,0.0.14,0.3333.2,0.27,0.28
246002,248161,-595,NaN,NaN,NaN,N,Bus3,NaN,0,2,...,NaN,-4420,NaN,NaN,0,Mard,0.0,NaN,0,0
246003,257069,-4334,0.1145,0.8368,Panl,N,Mede,0.1180,0,2,...,4.0,-2561,0.9881,0.0000,0,Sind,0.0,0.3333,0,0
246004,154350,365243,0.3025,0.6056,Mixd,N,XNAA,0.2233,0,2,...,1.0,-4636,0.9712,0.0631,0,Cive,0.0,0.1667,0,0
246005,148183,365243,NaN,NaN,NaN,N,XNAA,NaN,0,3,...,5.0,-4636,NaN,NaN,0,Mard,0.0,NaN,0,1
246006,5167,365243,NaN,NaN,NaN,Y,XNAA,NaN,0,2,...,3.0,-4266,NaN,NaN,0,Mard,0.0,NaN,0,0

In [ ]:
veteran.isna().sum()

69769                      0
-946                       0
0.1613                143829
0.7959999999999999    163543
Panl                  124975
                       ...
Mard                       0
0.0.14                   811
0.3333.2              122297
0.27                       0
0.28                       0
Length: 122, dtype: int64